body{
    background-color: ghostwhite;
}

#wrapper {
    position: relative;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

#messages {
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-photo {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding: 10px;
}

.message-photo.pull-right {
    text-align: right;
}
.message-photo img {
    width: 100%;
    max-width: 65px;
    border: 1px solid black;
    border-radius: 100%;
}

.message-photo.author-me img {
    background-color: lightgoldenrodyellow;
}

.message-photo.author-them img {
    background-color: lightcyan;
}

.message {
    display: inline-block;
    width: 85%;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 1px 2px 2px #888;
}

.message.author-me {
    color: white;
    background-color: royalblue;
}

.message.author-them {
    color: black;
    background-color: lightgrey;
}

.message.message-date{
    font-style: italic;
}

.message-author {
    font-weight: bold;
}

#send-message {
    background-color: royalblue;
}

#conversation-user {
    text-align: center !important;
    font-size: 30px;
    font-weight: bolder;
}

#talking-with {
    text-decoration: none;
}

#new-convo {
    margin-bottom: 10px;
}
