.add-bottom {
    margin-bottom: 15px !important;
}

.add-bottom-sm {
    margin-bottom: 10px !important;
}

.add-bottom-xs {
    margin-bottom: 5px !important;
}

.no-bottom {
    margin-bottom: 0px !important;
}

.add-top {
    margin-top: 15px !important;
}

.add-top-sm {
    margin-top: 10px !important;
}

.add-top-xs {
    margin-top: 5px !important;
}

.no-top {
    margin-top: 0px !important;
}

.add-padding-bottom {
    padding-bottom: 15px !important;
}

.add-padding-bottom-sm {
    padding-bottom: 10px !important;
}

.add-padding-bottom-xs {
    padding-bottom: 5px !important;
}

.no-padding-bottom {
    padding-bottom: 0px !important;
}

.add-padding-top {
    padding-top: 15px !important;
}

.add-padding-top-sm {
    padding-top: 10px !important;
}

.add-padding-top-xs {
    padding-top: 5px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.justified {
    text-align: justify !important;
}

.no-border {
    border: none !important;
    border-radius: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.plain {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.pre-format {
    white-space: pre-wrap;
}

.squared-corner {
    border-radius: 0px;
}

.rounded-corner {
    border-radius: 4px;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.block {
    display: block !important;
}

.hidden {
    display: none !important;
}

.text-init {
    font-size: 16px !important;
}

.text-small {
    font-size: 14px !important;
}

.text-large {
    font-size: 24px !important;
}

.text-smaller {
    font-size: smaller !important;
}

.text-larger {
    font-size: larger !important;
}

.one-liner {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.full-width {
    max-width: none !important;
    width: 100% !important;
}

.no-float {
    float: none !important;
}

.clear {
    clear: both !important;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.bold {
    font-weight: bold !important;
}

.no-bold {
    font-weight: normal !important;
}

.no-resize {
    resize: none;
}

.vertical-resize {
    resize: vertical;
}

.clickable {
    cursor: pointer;
}

.no-underline,
.no-underline:hover,
.no-underline:active,
.no-underline:focus {
    text-decoration: none;
}